<div class="container-fluid">
  <div class="home-search jumbotron row">
    <form class="search-form form-inline" role="form" action="/">
      <div class="form-group">
        <label class="sr-only" for="home-search">Ask a question...</label>
        <input type="search" class="form-control input-lg" name="search" id="home-search" size="50" placeholder="Ask a question..." autofocus>
        <button type="submit" class="btn btn-primary btn-lg">ASK</button>
      </div>
    </form>
  </div>
</div>
<div class="container container-narrow">
  <div class="row">
    <div class="com-md-12">
      <section class="content search">
        <!-- <h3 class="title" style="margin-bottom: 20px;">
          Search results for: {{search}}
        </h3> -->
        {{#searchResults.length}}
        {{#searchResults}}
        <div class="page">
          <h4 class="page-title"><a href="/{{slug}}">{{title}}</a></h4>
          <div class="page-excerpt">{{{excerpt}}}</div>
        </div>
        {{/searchResults}}
        {{/searchResults.length}}
        {{^searchResults.length}}
        <div class="alert alert-danger "> Nothing found for <strong>{{search}}</strong> </div>
        <h4>Suggestions:</h4>
        <ul>
          <li>Make sure all words are spelled correctly.</li>
          <li>Try different keywords.</li>
          <li>Try more general keywords.</li>
          <li>Try fewer keywords.</li>
        </ul>

        {{/searchResults.length}}
      </section>
    </div>
  </div>
</div>
