header{
  background: #fff;
  border-bottom: 1px solid #e3e6e7;
  padding: 10px 0;
}
.jumbotron{
  margin-bottom: 80px;
  border-bottom: 1px solid #e3e6e7;
}

.home-search { text-align: center;
  background-blend-mode: multiply;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background: #F5FCF9 url("../images/cityscape.png") no-repeat center bottom
}

footer{
  margin-top: 80px;
  background: #2ccd96;
  color: rgba(255,255,255,0.85);
  padding-top: 80px;
  padding-bottom: 80px;
}

footer .logo {
  margin-top: 0;
  margin-bottom: 40px;
  max-width: 250px
}

footer a {color: #fff; }
footer a:hover {color: rgba(255,255,255,0.8);}

a.list-group-item:focus,a.list-group-item:hover,button.list-group-item:focus,button.list-group-item:hover {
  color: #009dcd;
  text-decoration: none;
  background-color: rgba(2, 186, 242, 0.2);
}

@media screen and (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }

  .jumbotron{
    padding-top: 80px;
    padding-bottom: 80px;
  }
}